*{
    margin:0;
    padding:0;
    box-sizing: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('eggbg.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}
   
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgb(56, 43, 57);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    z-index: 99;
}
nav{
    padding-right: 40px;
}
.UMI{
    font-size: 1rem;
    color: #fff;
    user-select: none;
}
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}
.navigation .btnlogin-popup{
    width: 110px;
    height: 40px;
    color: #fff;
    background: transparent;
    border:2px solid #fff;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.1em;
    transition: 0.5s;
}
.navigation .btnlogin-popup:hover{
    background: #fff;
    color: #162938;
}
.btnlogin-popup{
    margin-left: 40px;
}
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width:100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}
.navigation a:hover::after{
transform: scaleX(1);
}
.wrapper{
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 400px;
    height: 440px;
    background: #fff;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .formbox{
    width: 100%;
    padding:40px;
}

.formbox h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

.inputbox{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.inputbox label{
    position: absolute;
    top: 50%;
    left:5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
}

.inputbox input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 5px 0;
}

.inputbox .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.inputbox input:focus~label,
.inputbox input:valid~label{
    top: -5px;
}
.form-group {
    margin-bottom: 15px;
}

.forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.forgot label input{
    accent-color: #162938S;
    margin-right:3px;
}

.forgot a{
    color: #162938;
    text-decoration: none;
}
.forgot a:hover{
    text-decoration: underline;
}
.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.register{
    font-size:.9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}
.registerlink{
    color: rgb(94, 15, 94);
    text-decoration: none;
    font-weight: 500;
}
.registerlink:hover {
    text-decoration: underline;
}

.wrapper .close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;
    z-index: 1;
}